#projects
	-@projects.each do |project|
		.project
			%h3= project.title
			%p= project.url
			.links
				%a{:href=>"/projects/update/#{project.id}"} (Edit)
				%a{:href=>"/projects/show/#{project.id}"} (Show)