%form{:method => "post", :action => "/projects/create_or_update"}
	%div{:class => "profile"}
		%h3 Enter Project Details
		%p
			%label{:for => "title"} Title: 
			%br
			%input{:type => "text", :placeholder => "Project title...", :name => "title", :value => "#{@project.title}"}
		%p
			%label{:for => "url"} URL: 
			%br
			%input{:type => "text", :placeholder => "Project url...", :name => "url", :value => "#{@project.url}", :style => "font-size: 14px"}
		%p
			%input{:type => "hidden", :value => "#{@project.id}", :name => "id"}
			%input{:type => "submit", :value => "Add Project"}